
body
{
	padding: 0px;
	margin: 0px;
}
/* unvisited link */
a:link {
    color: #ffffff;
    background-color: gray;
}

/* visited link */
a:visited {
    color: #E8E8E8 ;
    background-color: gray;

}

/* mouse over link */
a:hover {
    color: gray;
    background-color: #ffffff; 
}

/* selected link */
a:active {
    color: red;
}

#container
{
	width: 500px;
    padding: 25px;
    border: 10px solid gray;
    margin: auto;
}
table
{
	margin: auto;
}

#menu
{
	background-color: gray;
	margin: auto;
	text-align: center;
}