
body
{
	padding: 0px;
	margin: 0px;
}
/* unvisited link */
a:link {
    color: #ffffff;
    background-color: gray;
}

/* visited link */
a:visited {
    color: #E8E8E8 ;
    background-color: gray;

}

/* mouse over link */
a:hover {
    color: gray;
    background-color: #ffffff; 
}

/* selected link */
a:active {
    color: red;
}

#container
{
	width: 500px;
    padding: 25px;
    border: 10px solid gray;
    margin: auto;
}
table
{
	margin: auto;
}

#menu
{
	background-color: gray;
	margin: auto;
	text-align: center;
}

#wellDone
{
	color: black;
	background-color: #00cc00;
	padding: 5px;
	border: dashed rgba(255, 255, 255, 0.3) 2px;
}

#wrongAnswer
{
	color: black;
	background-color: red;
	padding: 5px;
	border: groove rgba(255, 255, 255, 0.4) 1px;
}


#colorOfListOne
{
	background-color: #cccc33;	
	padding: 2px;
}

#colorOfListTwo
{
	background-color: #ffcc33;
	padding: 2px;
}

a.listOfVerbs:link, a.listOfVerbs:visited
{
	background-color: gray;
	color: #ffffff;
	text-decoration:none;
}

a.listOfVerbs:hover
{
	background-color: #ffffff;
	color: gray;
	text-decoration:none;
}

#version
{
	text-align: right;
	font-size: 8px;
	font-family: monospace;
	color: black;

}